* {
    font-family:sans-serif;
}

body {
    overflow:hidden;
    background: #728eaa;
    background: -moz-linear-gradient(top, #25303C, 0%, #728EAA, 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#25303C), color-stop(100%, #728EAA));
}

#NavigationMenu {
    position:relative;
    width:1100px;
    height:160px;
    padding-top:10px;
    border:5px solid black;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

nav ul {
    list-style: none; overflow: hidden; position: relative;
}

    nav ul li {
        float: left; margin: 0px 20px 0px 0px;
    }

nav ul li a {
    display: block; width: 120px; height: 120px;
    background-image: url(NavBar/Icons.png); background-repeat: no-repeat;
}

    nav ul li:nth-child(1) a {
        background-color: #3366ff;
        background-position:0px -570px;
    }
    nav ul li:nth-child(2) a {
        background-color: #00ff99;
        background-position: 0px -425px;
    }
    nav ul li:nth-child(3) a {
        background-color: #ff0000;
        background-position: 0px -280px;
    }
    nav ul li:nth-child(4) a {
        background-color: #ff9900;
        background-position: 0px -140px;
    }

    nav ul li:nth-child(5) a {
        background-color: #00ffff;
        background-position: 0px 0px;
    }

nav ul li a span {
    font: 50px sans-serif, Times; text-transform: uppercase;
    position: absolute; left: 770px; top: 29px; 
    display:none;
}

nav ul li a:hover span {
    display: block;
}

    nav ul li:nth-child(1) a span {
    color: #3366ff;
    }
    nav ul li:nth-child(2) a span {
    color: #00ff99;
    }
    nav ul li:nth-child(3) a span {
    color: #ff0000;
    }
    nav ul li:nth-child(4) a span {
    color: #ff9900;
    }
    nav ul li:nth-child(5) a span {
    color: #00ffff;
    }

a:link {
    text-decoration:none;
}

a {
    color:white;
    cursor:text;
}

#SectionOne {
    position:relative;
    height:210px;
    width:100%;
    min-width:1280px;
    border:5px solid black;
}

#SectionTwo {
    position:relative;
    height:210px;
    width:100%;
    min-width:1280px;
    border:5px solid black;
}

#Featured {
    position:relative;
    border: 5px solid white;
    height:200px;
    width:600px;
    font-size:40px;
    color:white;
    float:left;
}

#Featured span {
    font-size:15px;
}

#Sports {
    position:relative;
    height:200px;
    width:320px;
    font-size:25px;
    color:white;
    border:5px solid blue;
    float:left;
}

#Sports span {
    font-size:15px;
}

#Arts-Ent {
    position:relative;
    height:200px;
    width:320px;
    font-size:25px;
    color:white;
    border:5px solid green;
    float:left;
    display:block;
}

#Humor {
    position:relative;
    height:100px;
    width:300px;
    font-size:25px;
    color:white;
    border:5px solid black;
    float:right;
}

#Arts-Ent span {
    font-size:15px;
}

#Opinion {
    position:relative;
    height:200px;
    width:415px;
    font-size:25px;
    color:white;
    border:5px solid red;
    float:left;
}

#Opinion span {
    font-size:15px;
}

#Humor {
    position:relative;
    height:200px;
    width:415px;
    font-size:25px;
    color:white;
    border:5px solid yellow;
    float:left;

}

#Lab span {
    font-size:15px;
}

#Academics {
    position:relative;
    height:200px;
    width:415px;
    font-size:25px;
    color:white;
    border:5px solid orange;
    float:left;
}

#Academics span {
    font-size:15px;
}

#AcTitle {
    color:orange;
}
#AcTitle:hover {
    color:#00ffff;

}
#ATitle {
    color:green;
}
#ATitle:hover {
    color:#00ffff;

}
#HTitle {
    color:yellow;
}
#HTitle:hover {
    color:#00ffff;

}
#STitle {
    color:blue;
}
#STitle:hover {
    color:#00ffff;
}
#OTitle {
    color:red;
}
#OTitle:hover {
    color:#00ffff;
}
#FTitle {
    color:black;
}
#FTitle:hover {
    color:#00ffff;
}
