{% extends "layout.html" %}
{% block content %}
	{% if msg %}
		<p class="error">
			<br>
			{% if msg == "loginFail" %}
				Login failed.

			{% elif msg == "postFail" %}
				Post with same title exists.

			{% elif msg == "noPost" %}
				No such post.

			{% elif msg == "noUser" %}
				No such user.

			{% elif msg == "mustLogin" %}
				You must login.	

			{% elif msg == "passChangeSuccess" %}
				Password changed successfully.

			{% elif msg == "passMismatch" %}
				Password mismatch.

			{% elif msg == "registerFail" %}
				Username already exists.

			{% endif %}
		</p>	
	{% endif %}
{% endblock %}
