<!DOCTYPE html>
<html>
	<head>
		<title>
			Bloginator			
		</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>

	<body>
<h1>Bloginator</h1>
<h2>{% block pagename %}<!--pagename--> {% endblock %}</h2>
<div>
  <div id="menu">
    <ul>
      <li>
      Archive
      </li>
      <li>
      Home
      </li>
      <li>
      Login
      </li>
    </ul>
   </div>
  <div id="content">
		{% block content %}
			<!--content from child templates-->
		{% endblock %}
    </div>

 </div> 
	</body>
</html>
