{% extends "layout.html" %}
{% block pagename %}
Search Results
{% endblock %}
{% block content %}
<h3>Posts</h3>
{% for posts in results %}
	{% for post in posts %}
        <p id ="title"><a href="posts/{{post.title}}">
            {{ post.title }}
           </a></p>
        {% endfor %} 
{% endfor %}
<h3>Profiles</h3>
{% for profiles in results %}
	{% for profile in profiles %}
        <p id ="title"><a href="profiles/{{profile.username}}">
            {{ profile.username }}
           </a></p>
        {% endfor %} 
{% endfor %}
	
<h3>Comments</h3>

{% endblock %}
