$sidebarLabelWidth: 35px
$sidebarTransitionTime: 0.5s

.sidebar
	@include clearfix
	@include vendor(transition, width $sidebarTransitionTime)
	position: fixed
	overflow: hidden
	//width: $sidebarLabelWidth
	height: 100%
	top: 0
	left: 0
	background-color: #383838

.sidebar-label
	float: left
	width: $sidebarLabelWidth
	height: 100%
	padding-top: 20px
	text-align: center
	background-color: #303030
	font-family: Gudea
	color: black
	background-color: white

.sidebar-body-wrapper
	@include vendor(box-sizing, border-box)
	@include vendor(transition, (width $sidebarTransitionTime, padding $sidebarTransitionTime))
	@include vendor(box-shadow, (inset -18px 0px 17px -20px #000, inset 16px 0px 20px -20px #000))
	width: 0
	height: 100%
	margin-left: $sidebarLabelWidth
	padding: 7px 0

.sidebar-body
	@include vendor(box-sizing, border-box)
	@include vendor(transition, opacity $sidebarTransitionTime)
	opacity: 0
	overflow: auto
	width: 250px
	height: 100%
	padding: 10px
	font-size: 22px
	font-family: Oxygen
	color: white

body
	@include vendor(transition, padding $sidebarTransitionTime)
	padding-left: $sidebarLabelWidth