$sidebarWidth: 40px

.sidebar
	position: fixed
	width: $sidebarWidth
	height: 100%
	top: 0
	left: 0
	background-color: #383838

	& > h1
		margin-top: 20px
		text-align: center
		color: #26E2FC

body
	padding-left: $sidebarWidth