@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300");
@import url("http://fonts.googleapis.com/css?family=EB+Garamond");
@import url("http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");
@import url("http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,900italic,400,700,900");
@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic");
@import url("http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Libre+Baskerville:400,700,400italic");
@import url("http://fonts.googleapis.com/css?family=ABeeZee:400,400italic|Gudea:400,700,400italic|Oxygen:400,700,300|Sintony:400,700");
.sidebar {
  *zoom: 1;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
  position: fixed;
  overflow: hidden;
  width: 35px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #383838; }
  .sidebar:before, .sidebar:after {
    display: table;
    content: "";
    line-height: 0; }
  .sidebar:after {
    clear: both; }
  .sidebar:hover {
    width: 300px; }
    .sidebar:hover .sidebar-body {
      opacity: 1; }

.sidebar-label {
  float: left;
  width: 35px;
  height: 100%;
  padding-top: 20px;
  text-align: center;
  background-color: #303030;
  font-family: Gudea;
  color: black;
  background-color: white; }

.sidebar-body {
  -webkit-box-shadow: inset -18px 0px 17px -20px black, inset 16px 0px 20px -20px black;
  -moz-box-shadow: inset -18px 0px 17px -20px black, inset 16px 0px 20px -20px black;
  -ms-box-shadow: inset -18px 0px 17px -20px black, inset 16px 0px 20px -20px black;
  -o-box-shadow: inset -18px 0px 17px -20px black, inset 16px 0px 20px -20px black;
  box-shadow: inset -18px 0px 17px -20px black, inset 16px 0px 20px -20px black;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
  height: 100%;
  margin-left: 35px;
  padding: 20px;
  color: white; }

body {
  -webkit-transition: padding 0.5s;
  -moz-transition: padding 0.5s;
  -ms-transition: padding 0.5s;
  -o-transition: padding 0.5s;
  transition: padding 0.5s;
  padding-left: 35px; }

.story-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  overflow-y: auto; }
  .story-container h1 {
    display: inline-block;
    margin: 0.4em 0 0;
    border-top: 7px solid black;
    font-family: Lora;
    font-size: 70px;
    font-style: italic;
    font-weight: normal; }
  .story-container p {
    font-family: "EB Garamond", serif;
    font-size: 25px; }

.story-author {
  display: inline-block;
  margin: 0;
  margin-left: 20px;
  color: #202020;
  font-family: Lora, serif;
  font-style: italic; }

.story-text {
  text-indent: 2em;
  margin: 1em 0; }

#story-newline:hover {
  border-bottom: 1px dotted; }
#story-newline:focus {
  outline: none;
  border-bottom: 1px solid; }
