@import mixins

html, body
	width: 100%
	margin: 0
	padding: 0

div
	overflow: auto

#viewport
	width: 100%
	overflow: hidden

#container
	width: 200%

.scroll-section
	height: 500px
	width: 50%
	float: left

#story-container
	width: 900px
	margin: 0 auto