@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300)
@import url(http://fonts.googleapis.com/css?family=EB+Garamond)
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic)
@import url(http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,900italic,400,700,900)
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic)
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Libre+Baskerville:400,700,400italic)

@import mixins
@import scroll

.story-container
	width: 900px
	margin: 20px auto 0

	h1
		display: inline-block
		margin: 0.4em 0 0.3em
		border-top: 7px solid #000
		font-family: 'Lora'
		font-size: 70px
		font-style: italic
		font-weight: normal

	p
		font-family: 'EB Garamond', serif
		font-size: 25px
		margin: 0.4em 0

p.author
	font-family: Lora, serif
	font-style: italic