@font-face {
	font-family: "OratorStd";
	src: url("font/OratorStd.otf"),
		 url("font/OratorStd.ttf");
}


body {
	font-family: OratorStd;
}
* {
	margin:0;
	padding:0;
	font-weight:normal;
}

.t2 { -webkit-transition: all 0.1s ease-out; -moz-transition: all 0.1s ease-out; -o-transition: all 0.1s ease-out; transition: all 0.1s ease-out; }
.t2 { -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.t3 { -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.t6 { -webkit-transition: all 0.6s ease-out; -moz-transition: all 0.6s ease-out; -o-transition: all 0.6s ease-out; transition: all 0.6s ease-out; }
.t9 { -webkit-transition: all 0.9s ease-out; -moz-transition: all 0.9s ease-out; -o-transition: all 0.9s ease-out; transition: all 0.9s ease-out; }


.box {
	position:absolute;
  -webkit-box-shadow: 3px 3px 0px 0px #666;
          box-shadow: 3px 3px 0px 0px #666;
	background:#def;
	width:300px;
	height:300px;
	overflow:hidden;
}






















