<html>

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/grid-5.css">

  <head>
    <title>'s Home Page</title>
  </head>
  <body>

    <!--top navigation bar-->
    <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><a href="/home" class="button">Blog</a></li>
         <li><a href="/posts" class="button">Posts</a></li>
         <li><a href="/login" class="button">Login</a></li>
         <li><a href="/register" class="button">Register</a></li>
        </ul>
      </div>
      <h1>Blog <small>This is my blog. It's awesome.</small></h1>
      <hr />
    </div>
  </div>

    <h1>Welcome to 's Blog</h1>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/posts">Posts</a>
  </body>
</html>
