<!DOCTYPE html> 

<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
<script src="static/bootstrap/js/bootstrap.min.js"></script>

<html>

  <body>

    <div class = "container">
      <div class = "text-center">
	<h1><b> Edit Post </b></h1> 
      </div>
      
      <form role="form"> 
	<div class = "form-group">
	  
	  <input type="post-title"
		 class="form-control"
		 id="inputTitle"
		 placeholder="Enter a creative title here!"
		 value={{title}} >
	  <input type="hidden"
		 nsme="id"
		 value="%POST_ID_HERE%">
	</div>
	
	<div class = "btn-group"> 
	  <div class = "btn-group">
	    <button type="button" class="btn btn-default">
	      <span class = "glyphicon glyphicon-align-left"></span>
	    </button>
	    <button type="button" class="btn btn-default">
	      <span class = "glyphicon glyphicon-align-center"></span>
	    </button> 
	    <button type="button" class="btn btn-default">
	      <span class = "glyphicon glyphicon-align-right"></span>
	    </button>
	    <button type="button" class="btn btn-default">
	      <span class = "glyphicon glyphicon-align-justify"></span>
	    </button> 
	  </div>
	</div>
	  
	<div class = "btn-group">
	  <button type="button" class="btn btn-default">
	    <span class = "glyphicon glyphicon-bold"></span>
	  </button>
	  <button type="button" class="btn btn-default">
	    <span class = "glyphicon glyphicon-italic"></span>
	  </button>
	</div>

	<div class="btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> 
	    Fonts <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	    <li><a href="#">This font</a></li>
	    <li><a href="#">Another font</a></li>
	    <li><a href="#">Some other font</a></li>
	    <li><a href="#">Yet another font</a></li>
	  </ul>
	</div>

	<textarea type="content"
		  class="form-control"
		  id="inputContent"
		  rows="10">
	  {{content}}
	</textarea>

	<br>

	<div class = "row">
	  <div class = "col-md-4">
	    <button type="submit" class="btn btn-primary btn-md"> Create Post! </button>
	  </div>
	  <div class = "col-md-4">
	    <button type="save" class="btn btn-primary btn-md"> Save Draft! </button>
	  </div>
	  <div class = "col-md-4">
	    <button type="cancel" class="btn btn-primary btn-md"> Delete </button>
	  </div>
	</div>
	
      </form>
      
      
    </div>
    
  </body> 
  
</html> 
