<html>
  <head>
    <title>Bootstrap Template</title>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />

    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/stuff.js"></script>

    <style type="text/css">
      a.postTitle { font-size:25px; }
      div.postAuthor {
         float:right;
         margin-top:10px;
      }
      table.post { border:1px solid rgb(221,221,221); }

      td.links a { margin:0 10px; }
      
      .right { text-align:right; }

      div.options {
         margin: 10px;
         text-align:center;
      }
    </style>

  </head>
  <body>

    <h1 style="text-align:center">Blog</h1>

    <div class="col-md-2">&nbsp;</div>
    <div id="main" class="col-md-8">

      <div class="options">
	<a href="#" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span> Create New Post</a>
      </div>
    </div>

    {{data|safe}}

    <div class="col-md-2">&nbsp;</div>
	


    <script type="text/javascript" src="/static/stuff.js"></script>


  </body>
</html>
