<html>
  <head>
    <title>Blog</title>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />

    <script type="text/javascript" src="/static/jquery.js"></script>
    <!--<script type="text/javascript" src="/static/stuff.js"></script>-->

    <style type="text/css">
      a.postTitle { font-size:25px; }
      div.postAuthor {
         float:right;
         margin-top:10px;
      }
      table.post { border:1px solid rgb(221,221,221); }

      td.links a { margin:0 10px; }
      
      .right { text-align:right; }

      div.options {
         margin: 10px;
         text-align:center;
      }
    </style>

  </head>
  <body>
    {{head|safe}}
    <h1 style="text-align:center"><a href="/">Blog</a></h1>

    <div class="col-md-2">&nbsp;</div>
    <div id="main" class="col-md-8">

      <div class="options">
	{% if uid == -1 %}
	<div class="alert alert-warning">Welcome <strong>Guest!</strong>  Please <a href="login">login</a> to create posts.  If you don't have an account then you can <a href="register">register</a> a new account.</div>
	{% else %}
	<a href="/new-post" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span> Create New Post</a>
	{% endif %}
      </div>

      {% if type == '1' %}
      <div class="alert alert-success"><strong>Success</strong>: Post edited</div>
      {% elif type == '2' %}
      <div class="alert alert-success"><strong>Success</strong>: You have been logged in</div>
      {% elif type == '3' %}
      <div class="alert alert-success"><strong>Success</strong>: You have been logged out</div>
      {% elif type == '3' %}
      <div class="alert alert-success"><strong>Success</strong>: Post deleted</div>
      {% endif %}
      
      {{data|safe}}

    </div>
    <div class="col-md-2">&nbsp;</div>
	


    <script type="text/javascript" src="/static/stuff.js"></script>


  </body>
</html>
