
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
  </head>
  <body>
<nav class="navbar navbar-default">
<div class="navbar-header">
<a class="navbar-brand" href="/">Home</a>
<ul class="nav navbar-nav">
<li class="active"><a href="login">Login</a></li>
<li><a href="register">Register</a></li>
</ul>

</div>
</nav>
    <div style="width:400px;margin-left:auto;margin-right:auto;">

      <h1 style="text-align:center">Register</h1>

      {% if type == 1 %}
      <div class="alert alert-danger"><strong>Error</strong>: Username is already in use</div>
      {% elif type == 2 %}
      <div class="alert alert-danger"><strong>Error</strong>: Passwords don't match</div>
      {% endif %}

      <form method="post">
	<table class="table" style="border:1px solid rgb(221,221,221)">
	  <tr class="active">
	    <th>Username</th>
	    <td><input name="username" size="20" class="form-control" tabindex="1" /></td>
	  </tr>
	  <tr class="active">
	    <th>Password</th>
	    <td><input name="password" type="password" size="20" class="form-control" tabindex="2" /></td>
	  </tr>
	  <tr class="active">
	    <th>Confirm password</th>
	    <td><input name="password2" type="password" size="20" class="form-control" tabindex="3" /></td>
	  </tr>

	  <tr class="active">
	    <td colspan="2" style="text-align:center"><input type="submit" value="Register" class="btn btn-primary" tabindex="4" /></td>
	  </tr>
	</table>
      </form>

    </div>

  </body>
</html>
