<html>
    <head>
	<meta charset="utf-8" />
	<title>{{name}} | blog</title>
	<link href="../static/blogpage.css" rel="stylesheet" type="text/css" media="screen" />
    </head>
    <body style = "text-align:center">
	{% if mypage %}
	<a href = "/blog/{{name}}/submit"> New Post? </a>
	{% endif %}
	<ul>
	    {% for item in posts %}
	    <li>
	    <h1><a href = "/post/{{item._id}}">{{item.title}}</a></h1>
	    <h3>{{item.username}} | {{item.date}}</h3>
	    <h5>{{item.genre}}</h5>
	    </li>
	    {% endfor %}
	</ul>
    </body>
</html>
