<html>
    <head>
        <title>Humor</title>
        <link href="../static/HumorStyle.css" rel="stylesheet" type="text/css" media="screen"/>
    </head>
    <body>
        <div id="NavigationMenu">
            <nav>
            <ul>
                <li><a href="#"><span>SPORTS</span></a></li>
                <li><a href="#"><span>ARTS/ENT</span></a></li>
                <li><a href="#"><span>OPINION</span></a></li>
                <li><a href="#"><span>HUMOR</span></a></li>
                <li><a href="#"><span>ACADEMICS</span></a></li>
                <a href="Login.html" class="btn">Login</a>
                <a href="#" class="btn">Register</a>
            </ul>
            </nav>
        </div>
        <br>
        <div id="Section">HUMOR</div>
        <div id="Line1">
        <div id="Headline">
            <a id="tit" href={{headline.link}}>{{headline.title}}</a>
            <br>
            <div id="Auth">By {{headline.author}}</div>
        </div>
        <div id="Post1">
            <a id="Title" href={{posts[0].link}}>{{posts[0].title}}</a>
            <br>
            <div id="Author">By {{posts[0].author}}</div>
        </div>
        </div>
        <div id="Line2">
        <div id="Post2">
            <a id="Title" href={{posts[1].link}}>{{posts[1].title}}</a>
            <br>
            <div id="Author">By {{posts[1].author}}</div>
        </div>

        <div id="Post3">
            <a id="Title" href={{posts[2].link}}>{{posts[2].title}}</a>
            <br>
            <div id="Author">By {{posts[2].author}}</div>
        </div>

        <div id="Post4">
            <a id="Title" href={{posts[3].link}}>{{posts[3].title}}</a>
            <br>
            <div id="Author">By {{posts[3].author}}</div>
        </div>
    </div>
    </body>
</html>
