<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Submit Blog</title>
    <link href="Style.css" rel="stylesheet" type="text/css" media="screen" />
</head>jo

<body>

<div id="SubmitForm">
    <h1>Submit Blog</h1>
    <form method="POST">
        <fieldset>
            <label for="Title">Title:</label>
            <input type="text" id="Title" value = "title"  placeholder="Enter Blog Title" />
            
            <label for="Genre">Genre:</label>
            <input type="Genre" value = "genre"  id="Genre"  placeholder="Enter Genre" />
                <div id="Clarification">
                &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 
                (SPORTS, ARTS/ENT., OP ED, HUMOR, PHILOS., OR ACADEMICS)
                </div>
            <br> <br>
            <label for="Blog">Blog:</label>
            <textarea id="Blog"value = "blog" placeholder="Enter Blog"></textarea>
            
            <input type="submit" value="Submit" /> 
            <input type="reset" value="Clear" />
            
        </fieldset>
    </form>
</div>

</body>
</html>
