<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8" />
	<title>Submit Blog</title>
	<link href="../../static/Style.css" rel="stylesheet" type="text/css" media="screen" />
    </head>

    <body>

	<div id="SubmitForm">
	    <h1>Submit Blog</h1>
            <a id="home" href="/"><img src="../../static/NavBar/shop.png" /></a>
	    <form action="#" method="post">
		<fieldset>
		    <label for="Title">Title:</label>
		    <input type="text" id="Title" name = "title" placeholder="Enter Blog Title" />

		    <label for="Genre">Genre:</label>
		    <select name = "genre" placeholder = "Select One">
			<option value = "Academics">Academics<option>
			<option value = "Arts">Arts<option>
			<option value = "Humor">Humor<option>
			<option value = "Opinion">Opinion<option>
			<option value = "Sports">Sports<option>
		    </select>
		    <br> <br>
		    <label for="Blog">Blog:</label>
		    <textarea id="Blog" name = "text" placeholder="Enter Blog"></textarea>

		    <input type="submit" value="Submit" name = "button" /> 
		    <input type="reset" value="Clear" />

		</fieldset>
	    </form>
	</div>

    </body>
</html>
