<html>
    <head>
        <title>{{post.title}}</title>
        <link href="../static/PostStyle.css" rel="stylesheet" type="text/css" media="screen"/>
    </head>
    <body>
    <div id="NavigationMenu">
        <nav>
            <ul>
                <li><a href="/genre/sports"><span>SPORTS</span></a></li>
                <li><a href="/genre/sports"><span>ARTS/ENT</span></a></li>
                <li><a href="/genre/opinion"><span>OPINION</span></a></li>
                <li><a href="/genre/humor"><span>HUMOR</span></a></li>
                <li><a href="/genre/academics"><span>ACADEMICS</span></a></li>
		<li><a href="/"><span>HOME</span></a></li>
                <br> <br> <br> <br> <br>
                <a href="/login" class="btn">Login</a>
                <a href="/register" class="btn">Register</a>
		<a href="/blog/{{name}}/submit" class="btn">New Post</a>
            </ul>
        </nav>
    </div>
        <br> <br>
        <span id="LEFT">
            <div id="Title">
                {{post.title}}
            </div>
            <br>
            <span id="Post">
                <div id="Content">
                    {{post.text}}
                </div>
                <br>
                <span id="Author">
                    By {{post.username}}
                </span>
            </span>
            
            
            <form method="POST" id="Sub">
                <span>Enter your comment below</span>
                <textarea name="comment"></textarea>
                <input type="submit" name="button" value="submit"></input>
            </form>  
          
<div id="Comment">
		Comments:
            <ul>
		{% for x in post.comments %}
                <li>
                <div>
		    <b> {{x[0]}} : </b> {{x[1]}}
                <br>
                </div>
                </li>
		{% endfor %}
                <br>
            </ul>
            </div> 
        </span>
        <span id="RIGHT"> 
            {% if genre == "Humor" %}
             <span id="Humor">
            {% elif genre == "Sports" %}
            <span id ="Sports">
            {% elif genre == "Opinion" %}
            <span id="Opinion">
            {% elif genre == "Arts" %}
            <span id="Arts">
            {% else %}
            <span id="Academics">
            {% endif %}
                {{post.title}} by {{post.author}} on {{post.date}} <br>
            </span>
        </span>
    </body>
</html>
