<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8" />
	<title>Submit Blog</title>
	<link href="../static/Style.css" rel="stylesheet" type="text/css" media="screen" />
    </head>

    <body>

	<div id="SubmitForm">
	    <h1>Submit Blog</h1>
            <a id="home" href="template.index.html"><img src="../static/NavBar/Shop.png" /></a>
	    <form action="#" method="post">
		<fieldset>
		    <label for="Title">Title:</label>
		    <input type="text" id="Title" name = "title" placeholder="Enter Blog Title" />

		    <label for="Genre">Genre:</label>
		    <input type="Genre" id="Genre" name = "genre" placeholder="Enter Genre" />
		    <div id="Clarification">
			&#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 
			(SPORTS, ARTS/ENT., OP ED, HUMOR, PHILOS., OR ACADEMICS)
		    </div>
		    <br> <br>
		    <label for="Blog">Blog:</label>
		    <textarea id="Blog" name = "text" placeholder="Enter Blog"></textarea>

		    <input type="submit" value="Submit" name = "button" /> 
		    <input type="reset" value="Clear" />

		</fieldset>
	    </form>
	</div>

    </body>
</html>
