<html>
    <head>
        <title>{{post.title}}</title>
        <link href="../static/PostStyle.css" rel="stylesheet" type="text/css" media="screen"/>
    </head>
    <body>
        <div id="NavigationMenu">
            <nav>
            <ul>
                <li><a href="template.sports.html"><span>SPORTS</span></a></li>
                <li><a href="template.arts.html"><span>ARTS/ENT</span></a></li>
                <li><a href="template.opinion.html"><span>OPINION</span></a></li>
                <li><a href="template.humor.html"><span>HUMOR</span></a></li>
                <li><a href="template.academics.html"><span>ACADEMICS</span></a></li>
                <li><a href="template.index.html"><span>HOME</span></a></li>
                <br> <br> <br> <br> <br>
                <a href="Login.html" class="btn">Login</a>
                <a href="#" class="btn">Register</a>
            </ul>
            </nav>
        </div>
        <div id="Title">
            {{post.title}}
        </div>
        <div id="Post">
        <div id="Content">
            {{post.content}}
        </div>
        <br>
        <div id="Author">
            By {{post.author}}
        </div>
        </div>
        <div id="Comment">
        <ul>
            {{ for c in comments }}
            <li>
            <div> 
            {{c.comment}}
            <br>
            <span>{{c.author}}</span>
            </div>
            </li>
            <br>
            {{ endfor }}
        </ul>
        </div>
        <form method="POST" id="Sub">
            <div>Enter your comment below</div>
            <textarea name="comment"></textarea>
            <br>
            <input type="submit" name="button" value="submit"></input>
        </form>
        <div {height:200;}>
        </div>
    </body>
</html>
