<!DOCTYPE html>
<html>
	<head>
		<title>JJJV - Bloginator</title>
		<link rel="stylesheet" type="text/css" href="default.css">
	</head>
	
	<body>
		<div id="nav">
			<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
            <li><a href="#">Posts</a></li>
			<li><a href="login.html">Login</a></li>
			<form method = "POST">
				<input type="text" name="username">
				<input type="submit" name="button" value="Search">
			</form>
			</ul>
		</div>
        
		<div id="body">
			<p>
				Check to see if logged in.<br>
				Comment: <textarea type="text" name="comment"></textarea><br>
				<input type="submit" name="button" value="Submit">
			</p>
		</div>
        
		<div id="footer">
			Footer notes here.
		</div>
	</body>
</html>