<html>
	<head>
		<title>Password change</title>
		<style>* {font-family:fantasy;} </style>
	</head>
	<body>
		<h4>Change Username Here:</h4>
		<form method="POST">
			Username: <input type="password" name="username" /> <br>
			Retype New Username: <input type="password" name="username2" /> <br>
			<input type="submit" name="button" value="Submit" />
		</form>
		<br>
		<h4>Change Password Here:</h4>
		<form method="POST">
			Password: <input type="password" name="password" /> <br>
			Retype New Password: <input type="password" name="password2" /> <br>
			<input type="submit" name="button" value="Submit" />
		</form>
		<br>
		<a href="/logout"> Logout Here! </a><br>
	</body>
</html>
