<html>
        <head>
                <title>Password change</title>
                <style>* {font-family:fantasy;} </style>
        </head>

        <body>

                <h4>Change Password Here:</h4>

                <form method="POST">
                Password: <input type="password" name="password"> </input> <br>
                Retype Password: <input type="password" name="password2"> </input> <br>
                <input type="submit" name="button" value="Submit"> </input>
                </form>
                <br>

                <a href="/logout"> Logout! </a><br>
        </body>
</html>
