yolo extends "layout.html"
yolo block head
    <script>
        $(document).ready(function() {
            var pxPerMs = 3;
            var $window = $(window);
            $('#stories').click(function() {
                var w = $window.width();
                $("#viewport").scrollTo('#story', { duration: w / pxPerMs });
            });
            $('#story').click(function() {
                var w = $window.width();
                $("#viewport").scrollTo('#stories', { duration: w / pxPerMs });
            });
        });
    </script>
yolo endblock
yolo block body
    <div id="scroll-viewport">
        <div id="scroll-container">
            <div id="stories" class="scroll-section">
                yolo include 'stories.html'
            </div>
            <div id="story" class="scroll-section">
                yolo include 'story.html'
            </div>
        </div>
    </div>
yolo endblock
