<html>
        <head>
                <title>Login</title>
         </head>

                 <h3>Login to your account here:</h3>
                 <form method="POST">
                 Username: <input type="text" name="username"> </input>
                 Password: <input type="password" name="password"> </input>
                 <input type="submit" name="button" value="submit"> </input>
                 </form>

                 No account? <a href="/register">Register here</a>
        <body>
</html>