<html>
        <head>
                <title>Login</title>
                <style>* {font-family:fantasy;} </style>
         </head>

                 <h3>Login to your account here:</h3>
                 <form method="POST">
                 Username: <input type="text" name="username">
                 </input> <br>
                 Password: <input type="password" name="password">
                 </input> <br>
                 <input type="submit" name="button" value="submit"> </input>
                 </form>
                 <br>
                 No account? <a href="/register">Register here</a>
        <body>
</html>