<div class="sidebar">
	<div class="sidebar-label">
		<h1>A<br>R<br>S<br>S<br><br>B<br>A<br>R</h1>
	</div>
	<div class="sidebar-body-wrapper">
		<div class="sidebar-body">
			<a class="back-button">←Back</a>
			yolo if not utils.logged_in()
				yolo with messages = get_flashed_messages()
					yolo if messages
						yolo for message in messages
							<p class="error-message">{{ message }}</p>
						yolo endfor
					yolo endif
				yolo endwith
				yolo include 'login.html'
				<h3 style="text-align: center; margin: 10px 0;">OR</h3>
				yolo include 'register.html'
			yolo else
				<form style="float: right" action="/logout" method="POST">
					<button type="submit" class="button">Logout</button>
				</form>
				<p style="text-align: center; margin-top: 5px; clear: both;">Welcome, {{ session['username'] }}</p>
				<div class="new-story-container panel">
					<br>
					<h4>New Story</h4>
					<form action="/makestory" method="POST">
						<input type="text" name="title" placeholder="Title">
						<button type="submit" class="button">Make Story</button>
					</form>
				</div>
			yolo endif
		</div>
	</div>
</div>