yolo extends "layout.html"
yolo block body
	<div class="sidebar">
		<div class="sidebar-label">
			<h1>A<br>R<br>S<br>S<br><br>B<br>A<br>R</h1>
		</div>
		<div class="sidebar-body">
			<p>
				←Back
			</p>
			<p>
				Lorizzle sizzle nizzle sit amizzle, break it down adipiscing elit. Nullizzle sapizzle velizzle, break it down volutpat, suscipizzle quizzle, gravida own yo', crazy. Pellentesque gangsta tortor. Sizzle erizzle. Fusce go to hizzle yo dapibizzle da bomb tempizzle sheezy. Maurizzle mah nizzle nizzle et turpizzle. Bow wow wow izzle ghetto. Pellentesque gangsta rhoncus check it out. In hac habitasse platea dictumst. Bow wow wow dapibizzle. Dope tellus get down get down, pretium eu, mattis ac, eleifend vitae, nunc. Own yo' suscipizzle. Brizzle fo shizzle my nizzle velit hizzle crackalackin.

				Praesent nec pimpin' leo go to hizzle molestie. Vivamizzle vestibulizzle tortor vizzle gangster. Quisque fo shizzle ornare magna. Morbi rizzle, nisl nec bibendum egestas, magna daahng dawg boofron shiz, ac ma nizzle justo dolor quizzle augue. Crackalackin brizzle elizzle funky fresh amizzle gangsta adipiscing sagittizzle. Vivamizzle sheezy pot ut lacus. Fizzle sheezy nonummy leo. Lorem ipsum dolor sizzle you son of a bizzle, nizzle shit funky fresh. Boom shackalack nisi gangsta, shizznit sizzle fizzle, facilisizzle sizzle, fo shizzle my nizzle mattizzle, libero. Curabitur semper faucibizzle brizzle. Ut yippiyo leo. Nunc sizzle crazy a diam accumsizzle shizzlin dizzle. Quisque condimentizzle metizzle ghetto shizzle my nizzle crocodizzle. Aenizzle sodales, crunk quizzle rizzle lacinia, stuff diam commodo sizzle, nizzle ullamcorpizzle erizzle nisl quis nisi. Pimpin' pot quizzle, aliquet sit away, ornare yo, pulvinizzle pulvinizzle, fo shizzle.
			</p>
		</div>
	</div>
	yolo include "story.html"
yolo endblock
