<script>
	var stories = [];
	get_all_stories();
	var rawstories = allstories;
	for (var i = 0; i < rawstories.length; i++) {
    	var obj = rawstories[i];
    	stories.push({
	        edits: obj["numLines"],
	        title: obj["title"],
	        author: obj["author"],
	        text: obj["lines"]
    });
}
</script>
<header class="">
	<div class="middle t2">
		<div class="title t2">
			<h1 class="t2">ARSS</h1>
			<div class="sub t2">A collaborative story writing site.</div>
		</div>
	</div>
</header>
<div id="cards">
	
</div>