<html>
    <head>
        <title>Opinion</title>
        <link href="../static/OpinionStyle.css" rel="stylesheet" type="text/css" media="screen"/>
    </head>
    <body>
        <div id="NavigationMenu">
            <nav>
            <ul>
                <li><a href="#"><span>SPORTS</span></a></li>
                <li><a href="#"><span>ARTS/ENT</span></a></li>
                <li><a href="#"><span>OPINION</span></a></li>
                <li><a href="#"><span>HUMOR</span></a></li>
                <li><a href="#"><span>ACADEMICS</span></a></li>
                <a href="Login.html" class="btn">Login</a>
                <a href="#" class="btn">Register</a>
            </ul>
            </nav>
        </div>
        <div id="Section">OPINION</div>
        <div id="Headline">
            <div id="Tit">{{headline.title}}</div>
            <br>
            <div id="Auth">By {{headline.author}}</div>
        </div>
    </body>
</html>
