<html>
    <head>
        <title>Opinion</title>
        <link href="../static/OpinionStyle.css" rel="stylesheet" type="text/css" media="screen"/>
    </head>
    <body>
        <div id="NavigationMenu">
            <nav>
            <ul>
                <li><a href="#"><span>SPORTS</span></a></li>
                <li><a href="#"><span>ARTS/ENT</span></a></li>
                <li><a href="#"><span>OPINION</span></a></li>
                <li><a href="#"><span>HUMOR</span></a></li>
                <li><a href="#"><span>ACADEMICS</span></a></li>
                <a href="Login.html" class="btn">Login</a>
                <a href="#" class="btn">Register</a>
            </ul>
            </nav>
        </div>
        <br>
        <div id="Section">OPINION</div>
        <div id="Line1">
        <div id="Headline">
            <div id="Tit">{{headline.title}}</div>
            <br>
            <div id="Auth">By {{headline.author}}</div>
        </div>
        <div id="Post1">
            <div id="Title">{{posts[0].title}}</div>
            <br>
            <div id="Author">By {{posts[0].author}}</div>
        </div>
        </div>
        <div id="Line2">
        <div id="Post2">
            <div id="Title">{{posts[1].title}}</div>
            <br>
            <div id="Author">By {{posts[1].author}}</div>
        </div>

        <div id="Post3">
            <div id="Title">{{posts[2].title}}</div>
            <br>
            <div id="Author">By {{posts[2].author}}</div>
        </div>

        <div id="Post4">
            <div id="Title">{{posts[3].title}}</div>
            <br>
            <div id="Author">By {{posts[3].author}}</div>
        </div>
    </div>
    </body>
</html>
