<!doctype html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %} - Bloginator</title>
        <link rel="stylesheet" type="text/css" class="ui" href="/static/semantic.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <div id="footer">
            <p>Copyright &copy; 2013 <a class="incognito" href="http://www.youtube.com/watch?v=768h3Tz4Qik">JRBS</a> (J<span class="gray">ason</span>R<span class="gray">aymond</span>B<span class="gray">en</span>S<span class="gray">tanley</span>)</p>
        </div>
    </body>
</html>
