{% extends "support/base.html" %}
{% block body %}

    <div class="ui one column page grid">
        <!-- Main Menu -->
        <div class="ui inverted menu">
            <a class="item" href="/"><i class="home icon"></i> <b>Bloginator</b></a>
            {% if "username" in session %}
                <a class="item" href="/new"><i class="edit icon"></i> New Post</a>
                {% if session["database"].is_admin(session["username"]) %}
                    <a class="item" href="/admin"><i class="wrench icon"></i> Admin</a>
                {% endif %}
                <a class="item" href="/archive"><i class="archive icon"></i> Archive</a>
                <div style="float: right;">
                    <div class="item"></div>
                    <div class="item">
                        Hello, {{session["username"]}}!
                    </div>
                    <div class="item">
                        <a class="ui black button" href="/logout">Logout</a>
                    </div>
                </div>
            {% else %}
                <a class="item" href="/archive"><i class="archive icon"></i> Archive</a>
                <div style="float: right;">
                    <div class="item"></div>
                    <div class="item">
                        <a class="ui black button" href="/login">Login</a>
                    </div>
                    <div class="item">
                        <a class="ui button blue" href="/signup">Sign up</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="column">
            {% block content %}{% endblock %}
        </div>
    </div>

{% endblock %}
