{% extends "support/base.html" %}
{% block body %}

    <div class="ui one column page grid">
        <!-- Main Menu -->
        <div class="ui inverted menu">
            <a class="title item" href="/"><b>Bloginator</b></a>
            <div class="right menu">
                {% if "username" not in session %}
                    <div class="item">
                        <a class="ui black button" href="/login">Login</a>
                    </div>
                    <div class="item">
                        <a class="ui button blue" href="/signup">Sign up</a>
                    </div>
                {% else %}
                    <div class="title item">
                        <b>Hello, {{session["username"]}}!</b>
                    </div>
                    <div class="item">
                        <a class="ui black button" href="/logout">Logout</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="column">
            {% block content %}{% endblock %}
        </div>
    </div>

{% endblock %}
