<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content ="IE=edge">
    <meta name="viewport" content ="width=device-width, initial-scale=1.0">
    <link href="CSS/createstyle.css" rel="stylesheet">
    <title> storyinator:createstory </title>
  </head>
</html>



  <body>
    <div class="top">
      <h1>CREATE... </h1>
    </div>
      <br>
      <div class="container">
	<label for="title" class="fontstuff"> Title: </label>
	<input type="text" class="form-control" placeholder="Enter title">
	<br>
	<br>
        <label for="summary" class="fontstuff"> Summary: </label>
	<form method="post">
	  <textarea name="summary" cols = "50" rows = "7" > This is optional... </textarea>
	  <br>

	  <label for="Story" class="fontstuff"> Begin your story: </label>
	  <br>
	  <form method="post">
	    <textarea name="story" cols="100" rows="13"> So it begins... </textarea>
          <br>
        <button type="submit" class="btn btn-lg btn-primary btn-block"> Submit </button>
        
        <p class="fontstuff">Click delete if you want to delete this story</p>
        <button type="Delete" class="Submit"> Delete </button>
        <p class="fontstuff">
          Do you want to contribute to the story?
          <a href="http://0.0.0.0:5000/login"> Login now! </a>
        </p>
        </form>
      </div>
      <script src = "js/bootstrap.js"></script>

  </body>
