<!DOCTYPE>
<html lang="en">
  <head>
    <meta name="viewport" content ="width=device-width, initial-scale=1.0">
    <title> storyinator </title>
    <link href = "css/bootstrap.min.css" rel = "stylesheet">
    <link href="../../dist/css/bootstrap.css" rel="stylesheet">
    <link href="signin.css" rel="stylesheet">

  </head>

  <body>
    <form method="post">
      <h1>Welcome to Storyinator!</h1>
      <br>
      <form role="login form" class="form-signin">
      <h2 class="form-signin-heading">Login to Read, Edit and Explore...</h2>
	<div class="form-group">
	  <label for="username"> Username </label>
	  <input type="username" placeholder="Enter username">
	</div>

	<div class="form-group">
	  <label for="password"> Password  </label>
	  <input type="password" placeholder="Enter password">
	</div>

	<button type="submit" class="btn btn-default"> Sign in </button>

	<p> 
	  Want to join?
	  <a href="http://0.0.0.0:5000/register"> Register now! </a>
       
      <script src = "js/bootstrap.js"></script>

  </body>
</html>
      
