<!DOCTYPE>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content ="IE=edge">
    <meta name="viewport" content ="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> storyinator:login </title>
    <link href="CSS/bootstrap.css" rel="stylesheet">
    <link href="CSS/loginstyle.css" rel="stylesheet">


  </head>

  <body>
      <h1>WELCOME TO STORYINATOR</h1>
      <br>
      <div class="container">
	<h2 class="form-signin-heading">Login to Read, Edit and Explore...</h2>
	<form class="form-signin">
	  <label for="username"> Username </label>
	  <input type="username"class="form-control" placeholder="Enter username" required autofocus>
	  <div>
	  <label for="password"> Password  </label>
	  <input type="password" class="form-control" placeholder="Enter password" required>
	  </div>
	  <br>
	<button type="submit" class="btn btn-lg btn-primary btn-block"> Sign in </button>

	<p> 
	  Want to join?
	  <a href="http://0.0.0.0:5000/register"> Register now! </a>
	</form>
      </div>
      <script src = "js/bootstrap.js"></script>

  </body>
</html>
      
