<!DOCTYPE>
<html lang="en">
  <head>
    <meta name="viewport" content ="width=device-width, initial-scale=1.0">
    <title> storyinator </title>
    <link href = "css/bootstrap.min.css" rel = "stylesheet">
  </head>

  <body>
    <form method="post">
      <h1>Welcome to Storyinator!</h1>
      <br>
      <h2>Login</h2>
      <form role="login form">
	<div>
	  <label for="username"> Username </label>
	  <input type="username" placeholder="Enter username">
	</div>
      
      <script src = "js/bootstrap.js"></script>

  </body>



</html>
      
