<!DOCTYPE>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.0>
    <title> storyinator: register </title>
    <link href="CSS/registerstyle.css" rel="stylesheet">
    <link href="CSS/bootstrap.css" rel="stylesheet">
  </head>

  <body>
    <div class="top">
    <h1> JOIN THE DARK SIDE... </h1>
    <p> {{message}} </p>
    </div>

    <div class="container">
      <form class="form-horizontal" role="form">
      	
	<label for="email"> E-mail </label>
	<input type="email"  class="form-control" placeholder="Enter e-mail" required>
	<br>
	<label for="username"> Username </label>
	<input type="username" class="form-control" placeholder="Enter username" required autofocus>
	<br>
	<label for="password"> Password</label>
	<input type="password" class="form-control" placeholder="Enter password" required>
	<br>
	<label for="confirmation"> Confirm Password</label>
	<input type="password" class="form-control"  placeholder="Re-type password" required>
	<br>
	<input type="submit" name="button" value="Submit"></input>
	<button type="Register" class="submit"> Register</button>
	
	  
