<!DOCTYPE>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.0>
    <title> storyinator: register </title>
    <link href="CSS/registerstyle.css" rel="stylesheet">
    <link href="CSS/bootstrap.css" rel="stylesheet">
  </head>

  <body>
    <div class="top">
    <h1> JOIN THE DARK SIDE... </h1>
    <p> {{message}} </p>
    </div>

    <form method="POST">
    <div class="container">
      <form class="form-horizontal" role="form">
      	
	<label for="email"> E-mail </label>
	<input type="email"  class="form-control" placeholder="Enter e-mail" required>
	<br>
	<label for="username"> Username </label>
	Username: <input type="text" name="username"> </input> 
	<br>
	<label for="password"> Password</label>
	Password: <input type="password" name="password">
	<br>
	<label for="confirmation"> Confirm Password</label>
	<input type="password" name="confirmpassword">
	<br>
	<button type="Register" class="submit"> Register</button>
	
	  
