body
{
background-color: e0e0e0
}

h1
{
letter-spacing:3px;
text-align: center;
font-family:"Avantgarde", sans-serif;
color: white;
font-size:80%
}

h2
{
letter-spacing:3px;
text-align: center;
font-family:"Avantgarde", sans-serif;
color: white;
font-size:400%
}

h3
{
letter-spacing: 2px;
font-family:"Avantgarde", sans-serif;
color: black;

}

.container
{
border-style: dotted;
position: relative;
top: 270px;
width:50%

}

.top
{
position:fixed;
top:0;
left:0;
width:100%;
height:40%;
background-color: 000033;
z-index:-1;
}
