{% extends "support/main.html" %}
{% block title %} Archive {% endblock %}
{% block content %}

    <!-- Archive Box -->
    <div class="ui segment">
        <h2 class="ui header">Post Archive</h2>
        <ol class="ui list">
            {% for post in posts %}
                <li><a href="/post/{{post.postid}}/{{post.slug}}">{{post.title}}</a> <span class="gray">by</span> <a href="/posts/user/{{post.author.userid}}">{{post.author.display_name}}</a> <span class="gray">on</span> {{post.date.strftime("%b %d, %Y")}} <span class="gray">at</span> {{post.date.strftime("%I:%M %p")}} (<a href="/post/{{post.postid}}/{{post.slug}}#comments">
                    {%- trans count=post.comments | length -%}
                        {{count}} comment
                    {%- pluralize -%}
                        {{count}} comments
                    {%- endtrans -%}
                </a>)</li>
            {% endfor %}
        </ol>
    </div>

    <!-- Top Posters Box -->
    <div class="ui segment">
        <h3 class="ui header">Top Posters</h3>
        <ol class="ui list">
            {% for user, count in top %}
                <li><a href="/posts/user/{{user.userid}}">{{user.display_name}}</a>: {{count}}
                    {% trans count=count %}
                        post
                    {% pluralize %}
                        posts
                    {% endtrans %}
                </li>
            {% endfor %}
        </ol>
    </div>

{% endblock %}
