<!doctype html>
<html>
<head> 
  <meta charset="utf-8">
  <title> Bloginator! </title>
  <link rel="stylesheet" type="text/css" class="ui" href="CSS/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="CSS/style.css">
</head>

<body>
  <div class="container">
    <!--Top Horizontal Menu-->
    <div id="top" class="ui teal inverted fixed main menu">

      <div class="right menu">
	<div class="item">
	  <div class="ui small button">Login</div>
	</div>
	
	<div class="item">
	  <div class="ui blue small button">Sign up</div>
	</div>
	<a class="large item">Help</a>
      </div>
    </div>
    <!--Vertical Menu-->
    <div id="left" class="ui fixed vertical text menu">
      <a class="item">
	<i class="huge teal home icon"></i>Home<br>
      </a>
      <a class="item">
	<i class="huge black pencil icon"></i>Post
      </a>  
    </div>
    <!-- Post Box-->
    <div class="ui piled segment">
      {% for post in posts %}
      <div class="ui blue segment">
	<h1>post.title</h1>
	<h2> post.author </h2>
	<p>post.content</p> 
      </div>
      {% endfor %}
    </div>

    <!--Bottom Menu-->
    <div class="ui borderless pagination menu">
      <div class="bottom menu">
	<a class="item">
	  <i class="icon left arrow"></i> Previous
	</a>
	<a class="item">1</a>
	<a class="item">
	  Next <i class="icon right arrow"></i>
	</a>
      </div>
    </div>

  </div>
</body>

</html>
