<html>
<head> 

  <title> Bloginator! </title>
  <h1> link directing back to home</h1>
  <link rel="stylesheet" type ="text/css" href="CSS/style.css">
</head>

<body> 
<div id ="Navigation">
  <ul class="navigation">
   <li><a href="post.html"><span>Posts</span></a>
   <li><a href="archive.html"><span>Archive</span></a>
   </ul>
</div>
 
<div id="Login"> 
  <ul class ="login">
    <li> login
   </ul>
</div>
<div id="PostBox">
  <p> this is where the posts should go </p>
</div>


  
</body>

</html>
