<!doctype html>
<html>
<head> 
  <meta charset="utf-8">
  <title> Bloginator! </title>
  <link rel="stylesheet" type="text/css" href="CSS/semantic.css">
  <link rel="stylesheet" type="text/css" class="ui" href="CSS/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="CSS/style.css">
</head>

<body>
  <div class="menu" id="menu">
  <a class="hide item">
    <i class="close icon"></i>
  </a>
  </div>
  <h2 class="ui header">
    <i class="small circular question icon"></i>
    <div class="content">
      Account Settings
      <div class="sub header">Manage your account settings and set e-mail preferences.</div>
    </div>
  </h2>
  
  <div id="PostBox">
    <p> this is where the posts should go </p>
  </div>
  
  
  
</body>

</html>
