{% extends "support/base.html" %}
{% block title %} Login {% endblock %}
{% block body %}

    <div class="ui two column page grid">
        <!-- Main Menu -->
        <div class="row">
            <div class="ui inverted menu">
                <a class="title item" href="/"><b>Bloginator</b></a>
            </div>
        </div>
        <div class="equal height row">
            <!-- Login Column -->
            <div class="column">
                <!-- Error Box -->
                {% if error %}
                    <div class="ui error message">
                        <div class="header">Error</div>
                        {% if error == "missing" %}
                            Missing one or more required fields.
                        {% elif error == "no user" %}
                            The given user does not exist.
                        {% elif error == "bad password" %}
                            The given password is incorrect.
                        {% else %}
                            {{error}}
                        {% endif %}
                    </div>
                {% endif %}
                <!-- Login Form -->
                <div class="ui form segment">
                    <form action="/login", method="post">
                        <div class="field">
                            <label>Username</label>
                            <div class="ui left labeled icon input">
                                <input name="name" type="text" />
                                <i class="user icon"></i>
                                <div class="ui corner label"><i class="asterisk icon"></i></div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <div class="ui left labeled icon input">
                                <input name="password" type="password" />
                                <i class="lock icon"></i>
                                <div class="ui corner label"><i class="asterisk icon"></i></div>
                            </div>
                        </div>
                        <input type="submit" class="ui blue submit button" value="Login" />
                    </form>
                </div>
            </div>
            <!-- Signup Column -->
            <div class="center aligned column">
                <div class="ui segment">
                    <a class="ui huge green labeled icon button" href="/signup">
                        <i class="signup icon"></i> Sign Up
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
