<html>

  <head>
    <style type="text/css">
      .center {text-align:center}
    </style>
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
    
    <meta name="description" content="Welcome to Bloginator">
    <meta name="keywords" contents="Chicken">
    <meta name="author" content="Everybody">
					  
    <title> Bloginator! </title>
  </head>
  
  <div>
    <h2>Poster</h2>
    
    <form id="RegisterUserForm" action="" method="post">
      <fieldset>
	Post Title: <br><input name="title" type="text" size="30" class="text" placeholder="Message Title.">
	<p>
	Post Content: <br><input name="post" type="text" size="30" class="text" placeholder="Post your message here.">
	<p>
	  <input type="submit" name="Post" value="Post">
	  <input type="submit" name="Cancel" value="Cancel">
	  
      </fieldset>
      
    </form>
  </div>
  
</body>
</html>
