{% extends "support/main.html" %}
{% block title %} Posts {% endblock %}
{% block content %}

    {% if error %}
        <!-- Error Box -->
        <div class="ui error message">
            <div class="header">Error</div>
            {% if error == "incomplete" %}
                Missing one or more required fields.
            {% else %}
                {{error}}
            {% endif %}
        </div>
    {% endif %}

    <form action="/new", method="post">
        <div class="ui form segment">
            <h1>New Post</h1>
            <div class="field">
                <label>Title</label>
                <input name="title" type="text" />
            </div>
            <div class="field">
                <label>Content</label>
                <textarea name="content"></textarea>
            </div>
            <div class="ui buttons">
                <a class="ui button" href="/new">Cancel</a>
                <div class="or"></div>
                <input type="submit" class="ui positive button" value="Create" />
            </div>
        </div>
    </form>

{% endblock %}
