<html>

  <head>
    <style type="text/css">
      h1 {color:red}
    </style>
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
    
    <meta name="description" content="Welcome to Bloginator">
    <meta name="keywords" contents="Chicken">
    <meta name="author" content="Everybody">
					  
    <title> Bloginator! </title>
  </head>
  
  <div id="registration">
    <h2>Poster</h2>
    
    <form id="RegisterUserForm" action="" method="post">
      <fieldset>
	  <label for="title">Post Title</label>
	<p>
	  <input name="title" type="text" class="text" placeholder="Message Title.">
	<p>
	  <label for="post">Email:</label>
	<p>
	  <input name="post" type="text" class="text" placeholder="Post your message here.">
	<p>
	  <button id="registerNew" type="submit">Post</button>
	  <button id="cancel" type="submit">Cancel</button>
	  
      </fieldset>
      
    </form>
  </div>
  
</body>
</html>
