{% extends "support/main.html" %}
{% block title %}
    {% if post %}
        {{post.title}}
    {% else %}
        Error
    {% endif %}
{% endblock %}
{% block content %}

    <!-- Error Box -->
    {% if error %}
        <div class="ui error message">
            <div class="header">Error</div>
            {% if error == "missing" %}
                Post not found.
            {% else %}
                {{error}}
            {% endif %}
        </div>
    {% endif %}
    {% if post %}
        <!-- Post Box -->
        <div class="ui segment">
            <div class="ui breadcrumb">
                <a href="/posts" class="section">Bloginator</a>
                <i class="right arrow icon divider"></i>
                <div class="active section">{{post.title}}</div>
            </div>
            <div class="ui blue segment">
                <h2 class="ui header">{{post.title}}</h1>
                <p><i class="icon user"></i> {{post.author}}</p>
                <p><i class="icon calendar"></i> {{post.date}}</p>
                {% for paragraph in post.content.split("\n\n") %}
                    <p>{{paragraph}}</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}
