<html>

  <head>
    <style type="text/css">
      h1 {color:red}
    </style>
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
    
    <meta name="description" content="Welcome to BLoginator">
    <meta name="keywords" contents="Chicken">
    <meta name="author" content="Everybody">
					  
    <title> Welcome fellow Bloginator </title>
  </head>
  
  <div id="registration">
    <h2>Create an Account</h2>
    
    <form id="RegisterUserForm" action="" method="post">
      <fieldset>
	<p>
	  <label for="name">Name:</label>
	<p>
	  <input id="name" name="name" type="text" class="text" placeholder="Username">
	<p>
	  <label for="email">Email:</label>
	<p>
	  <input id="email" name="email" type="email" class="text" placeholder="sample@example.com">
	<p>
	  <label for="password">Password:</label>
	<p>
	  <input id="password" name="password1" class="text" type="password" placeholder="*****">
	<p>
	  <label for="password">Re-enter Password:</label>
	<p>
	  <input id="password" name="password2" class="text" type="password" placeholder="*****">
	<p>
	  <input id="acceptTerms" name="acceptTerms" type="checkbox">
	  <label for="acceptTerms">I agree to the Terms and Conditions and Privacy Policy</label>	
	<p>
	  <button id="registerNew" type="submit">Register</button>
	  <button id="cancel" type="submit">Cancel</button>
	  
      </fieldset>
      
    </form>
  </div>
  
  
  
  
  
</body>
</html>
