<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Registration</title>
  <link rel="stylesheet" type="text/css" class="ui" href="/static/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

  <div class="container"> <div class="container">
    <!--Top Horizontal Menu-->
    <div class="ui transparent inverted main menu">
      <div class="title item">
        <b> Welcome to Bloginator!</b>
      </div>
    </div>

    <div class="ui form segment">
      <div class="field">
        <label>Username</label>
        <input name="name" type="text">
      </div>
      <div class="field">
        <label>Display Name</label>
        <input name="displayName" type="text">
      </div>

      <div class="field">
        <label>Password</label>
        <input name="password" type="password">
      </div>

      <div class="field">
        <label>Confirm Password</label>
        <input name="passwordConfirm" type="password">
      </div>

      <div class="inline field">
        <div class="ui checkbox">
          <input name="acceptTerms" type="checkbox" id="terms">
          <label for="terms">I agree to the terms and conditions</label>
        </div>
      </div>

      <div class="ui buttons">
        <a class="ui button" href="/signup">Cancel</a>
        <div class="or"></div>
        <input type="submit" class="ui positive button" value="Create">
      </div>
    </div>
  </div>

</body>
</html>
