{% extends "support/base.html" %}
{% block title %} Sign Up {% endblock %}
{% block content %}

    <!-- Main Menu -->
    <div class="ui transparent inverted main menu">
        <div class="title item">
            <b>Bloginator</b>
        </div>
    </div>

    {% if error %}
        <!-- Error Box -->
        <div class="ui error message">
            <div class="header">Error</div>
            {% if error == "missing" %}
                Missing one or more required fields.
            {% elif error == "accept terms" %}
                You must agree to the terms and conditions to create an account.
            {% elif error == "password mismatch" %}
                The two passwords do not match.
            {% elif error == "exists" %}
                The given user already exists.
            {% else %}
                {{error}}
            {% endif %}
        </div>
    {% endif %}

    <!-- Signup Form -->
    <form action="/signup", method="post">
        <div class="ui form segment">
            <div class="field">
                <label>Username</label>
                <input name="name" type="text" />
            </div>
            <div class="field">
                <label>Display Name</label>
                <input name="displayName" type="text" />
            </div>
            <div class="field">
                <label>Password</label>
                <input name="password" type="password" />
            </div>
            <div class="field">
                <label>Confirm Password</label>
                <input name="passwordConfirm" type="password" />
            </div>
            <div class="inline field">
                <div class="ui checkbox">
                    <input name="acceptTerms" type="checkbox" id="terms" />
                    <label for="terms">I agree to the terms and conditions.</label>
                </div>
            </div>
            <div class="ui buttons">
                <a class="ui button" href="/signup">Cancel</a>
                <div class="or"></div>
                <input type="submit" class="ui positive button" value="Create" />
            </div>
        </div>
    </form>

{% endblock %}
