html, body {
    font-size: 16px;
}

body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #FAFAFA;
}

h1, h2, h3, h4, h5 {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

div#footer {
    margin-top: 2.5em;
    text-align: center;
    font-size: small;
}

div#comments {
    background-color: #FAFAFA !important;
}

div.gray {
    border-top: .2em solid #BBB;
}

span.gray {
    color: #999;
}

span.post-links-divider {
    color: #666;
}

a {
    color: #009FDA;
    text-decoration: none;
}

a:hover {
    color: #00BAFF;
}

a.incognito {
    color: #000;
    text-decoration: none
}

a.incognito:hover {
    color: #555;
}
